<% include ./partials/_header %>
<main class="semantic-grid-section site-wrapper main orders container">
  <div id="orders-main">
    <h1>Order #<%=result[0].id%> Details</h1>
    <table class = "order-breakdown">
      <%const grandTotal = Number(result[0].total_price).toFixed(2)%>
      <%const subTotal = (Number(result[0].total_price)/1.12).toFixed(2)%>
      <%for (let i in result) {%>
        <tr>
          <td class="orders-quantity"><%=result[i].quantity%></td>
          <td>X</td>
          <td class="orders-name"><%=result[i].title%></td>
          <td class="orders-total">$ <%=Number(result[i].quantity * result[i].price).toFixed(2)%></td>
        </tr>
      <%}%>
    </table>
    <table class="orders-calcs">
      <tr>
        <td></td>
        <td></td>
        <td class="orders-calcs">Subtotal</td>
        <td class="orders-calcs">$ <%=subTotal%></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class="orders-calcs">GST</td>
        <td class="orders-calcs">$ <%=Number(subTotal*0.05).toFixed(2)%></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class="orders-calcs">PST</td>
        <td class="orders-calcs">$ <%=Number(subTotal*0.07).toFixed(2)%></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class="orders-calcs">Total</td>
        <td class="orders-calcs">$ <%=grandTotal%></td>
      </tr>
    </table>
    <% const readyTime = result[0].est_ready_time %> 
      <br>
    <% if (!readyTime) { %>
      <p>You're order is still being processed, but will be ready soon!</p>
      <p>Thanks for your patience!</p>
    <% } else { %>
      <p>Your order will be ready for pick up in ~ <%= readyTime %> minutes!</p>
      <%/* let estimated_pickup_time = paid_at + ready_at; */%>
      <%/* return estimated_pickup_time */%>
    <% } %>
  </div>
  <% include ./partials/_footer %>
</main>

